body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #1976d2;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 25px;
  font-weight: 600;
}

.container {
  text-align: center;
  margin-top: 80px;
}

h1 {
  color: #1976d2;
}

p {
  color: #555;
}